/* color variables*/
:root{
  --bg: #ffffff;
  --bg_bayan: #ffffff;
  --bg_lable: #8486CA;
  --bg_lable_active: #505294;
  --text_lable: #494a6fc5;
  --text_lable_active: 	#171847;
}

/* animation variables*/
:root{
  --animation_style: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* adiptiv variables*/
:root{
  --distop: 1200;
  --min_text_size: 10px;
  --deff_text_size: 13;
  --width_img:50%;
}

/* styles cssBayan*/
body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  width: 100%;
  min-height: 100vw;
  background: var(--bg);
  overflow: hidden;
}

.container{
  width: calc(200px + 400 * (100vw / var(--distop)));
  margin: 20px auto;
  max-width: 500px;
}

.bayan_wrapper:hover .lable_cross{
  opacity: 1;
  justify-content: end;
}

.bayan_wrapper:hover .bayan_label{
  color: var(--text_lable_active);
}

.bayan_item{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: var(--bg_bayan);
  border: 1px solid var(--bg_lable_active);
  cursor: pointer;
  border-radius: 5px;
}

.bayan_input{
  position: absolute;
  height: 0;
  width: 0;
  appearance: none;
}

.bayan_input:checked ~ .bayan_content{
  display: flex;
}

.bayan_input:checked + .bayan_label{
  color: var(--text_lable_active);
}

.bayan_input:checked ~ .bayan_label > .lable_cross{
  transform: rotateZ(405deg);
}

.bayan_input:checked ~ .bayan_content img,
.bayan_input:hover ~ .bayan_content img,
.bayan_content:hover > img{
  display: flex;
  width: var(--width_img);
}

.bayan_input:hover ~ .bayan_content{
  display: flex;
}

.bayan_input:hover ~ .bayan_label > .lable_cross{
  transform: rotateZ(405deg);
}

.bayan_label{
  background: var(--bg_lable);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: calc(
    var(--min_text_size) + var(--deff_text_size) * (100vw / var(--distop))
);
  transition: var(--animation_style);
  color: var(--text_lable);
  cursor: pointer;
}

.bayan_label:hover {
  background: var(--bg_lable_active);
}
.bayan_label:hover > .lable_text {
  color: var(--bg);
}

.lable_text{
  transition: var(--animation_style);
  max-width: 95%;
}

.lable_cross{
  opacity: 0;
  align-items: center;
  font-weight: 900;
  transition: var(--animation_style);
}

.bayan_content img{
  display: none;
  width: 0;
  margin: 0px auto;
  animation: 0.7s ease-in running size;
}

@media (min-width: 1200px) {
  .bayan_label{
    font-size: 23px;
  }
}

@keyframes size {
  from {
    width: 0%;
  }
  to {
    width: var(--width_img);
  }
}